$prev-icon-bg:     str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#000000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"), "#", "%23") !default;
$next-icon-bg:     str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#000000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"), "#", "%23") !default;

.carousel-item img {
    max-width: 100%;
    max-height: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.carousel-control-prev-icon {
  background-image: $prev-icon-bg;
}
.carousel-control-next-icon {
  background-image: $next-icon-bg;
}

.carousel {
    border-style: solid;
    border-width: 1rem;
    border-color: $dark; //equivalent of bg-dark from bootstrap preprocessed classes
    margin: auto;
    margin-bottom: 1rem;
    // @include media-breakpoint-up(sm) {
    //     width: 57vw;
    // }

    
}
