body {
    background-color: $color-backgrounds;
}

p, h1, h2, h3, h4, h5, h6 {
    color: $main;
    font-family: 'Chakra Petch', sans-serif;
}

h1 {
    margin: 0 auto 1rem auto;
    border-radius: 1rem;
    background-color: $accents;
    display: inline-block;
    padding: 0.25rem
}

h2 {
    margin-bottom: 16px;
    text-align: center;
    background-color: $dark;
}

h3, h5 {
    font-style: italic;
}

p {
    text-indent: 1.2rem;
}

section {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    border: solid 5px $dark;
    border-radius: 20px;
    background-image: linear-gradient($lighter-dark, $dark);
}
