$color-backgrounds: #2F2F2F;
$accents: #4B4C51;
$main: #68c2be;
$links: #00bbff;
$links-hover: #0091ff;

$xs: 0;
$sm: 576;
$md: 768px;
$lg: 992px;
$xl: 1280px;

$h1-size: 2em;
$h2-size: 1.5em;
$h3-size: 1em;
$h4-size: 0.8em;
$h5-size: 0.7em;
$h6-size: 0.6em;

$dark: #343a40;
$lighter-dark: #485058;
//Old lighter-dark #505962  seemed to light with the light font.
