@import 'variables';

@import "../../node_modules/bootstrap/scss/_functions";
@import "../../node_modules/bootstrap/scss/_variables";
@import "../../node_modules/bootstrap/scss/mixins/_breakpoints.scss";

$prev-icon-bg:     str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#000000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"), "#", "%23") !default;
$next-icon-bg:     str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#000000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"), "#", "%23") !default;

body {
    background-color: $color-backgrounds;
}

header {
    margin-bottom: 1rem;

    @include media-breakpoint-up(sm) {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        z-index: 1;
    }
}

p, h1, h2, h3, h4, h5, h6 {
    color: $main;
    font-family: 'Chakra Petch', sans-serif;
}

h2 {
    margin-bottom: 16px;
    text-align: center;
    background-color: $dark;
}

h3, h5 {
    font-style: italic;
}

p {
    text-indent: 1.2rem;
}

section {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    border: solid 5px $dark;
    border-radius: 20px;
    background-image: linear-gradient($lighter-dark, $dark);
}

.logo {
    display: none;
    @include media-breakpoint-up(sm) {
        display: inline-block;
        background-color: white;
        padding: 5px 5px;
        border-radius: 25px;
        width: 50px;
    }
}

.navbar-nav a {
    text-align: center;
}

.carousel-item img {
    max-width: 100%;
    max-height: 50%;
}

.carousel-control-prev-icon {
  background-image: $prev-icon-bg;
}
.carousel-control-next-icon {
  background-image: $next-icon-bg;
}

.carousel {
    border-style: solid;
    border-width: 1rem;
    border-color: $dark; //equivalent of bg-dark from bootstrap preprocessed classes
    margin: auto;
    margin-bottom: 1rem;
    @include media-breakpoint-up(sm) {
        width: 57vw;
    }
}


#breakpoint {
    @include media-breakpoint-down(sm) { //Xtra Small
        background-color: green;
        .sm, .md, .lg, .xl {
            display:none;
        }
    }

    @include media-breakpoint-up(sm) { //Small
        background-color: blue;
    }

    @include media-breakpoint-up(md) { //Medium
        background-color: orange;
    }

    @include media-breakpoint-up(lg) { //Large
        background-color: pink;
    }

    @include media-breakpoint-up(xl) { //Xtra Large
        background-color: purple;
    }
}
